.image-wrapper {
  position: relative;
  transition: all 0.5s;
  .input-wrapper {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 99;

    input {
      opacity: 0;
      transition: all 0.5s;
    }

    input[type="checkbox"]:checked {
      opacity: 1;
    }
  }

  &:hover {
    .input-wrapper {
        filter: blur(0px) !important;
      input {
        opacity: 1;
      }
    }
  }
}
